#page-tutor-list {
  margin: 3.2rem auto;
  width: 90%;
}

.tutor-item {
  background: var(--color-box-base);
  border: 1 px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  overflow: hidden;
}

.tutor-item header {
  padding: 3.2rem 2rem;
  display: flex;
  align-items: center;
}

.tutor-item header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.tutor-item header div {
  margin-left: 2.4rem;
}

.subject-ratings {
  margin-top: 1rem;
  padding: 0px;
}

.subject-ratings li {
  font-size: 1.6rem;
  color: var(--color-text-title);
  width: auto;
  display: block;
  float: left;
  margin-right: 6px;
}

.subject-ratings .subject {
  background: var(--color-text-complement);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 1.6rem;
  cursor: pointer;
}

.subject-ratings .rating {
  border: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.tutor-item header div strong {
  font: 700 2.4rem Archivo;
  display: block;
  color: var(--color-text-title);
}

.tutor-item header div span {
  font-size: 1.6rem;
  display: block;
  margin-top: 0.4rem;
}

.tutor-item > p {
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.tutor-item footer {
  padding: 3.2rem 2rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tutor-item footer p strong {
  color: var(--color-primary);
  font-size: 1.6rem;
  display: block;
}

.tutor-item footer button {
  width: 20rem;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.4rem Archivo;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.2s;
}

.tutor-item footer button:hover {
  background: var(--color-secundary-dark);
}

@media (min-width: 700px) {
  #page-tutor-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }

  .tutor-item header,
  .tutor-item footer {
    padding: 3.2rem;
  }

  .tutor-item > p {
    padding: 0 3.2rem;
  }

  .tutor-item footer p strong {
    display: initial;
    margin-left: 1.6rem;
  }

  .tutor-item footer button {
    width: 24.5rem;
    font-size: 1.6rem;
    justify-content: center;
  }

  .tutor-item footer button img {
    margin-right: 1.6rem;
  }
}
